
@{
    ViewBag.Title = "HeartBeat Services";
    Layout = "~/Views/Shared/i1.cshtml";
}

<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
    <div class="opacity">
        <div class="container">
            <h2>About Us A Heart Beat</h2>
        </div> <!-- /.container -->
    </div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->
<!-- Page Breadcrum __________________________ -->
<div class="page-breadcrum">
    <div class="container">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>-</li>
            <li>Yasir</li>
        </ul>
    </div> <!-- /.container -->
</div> <!-- /.page-breadcrum -->

@*<div class="container">

</div>*@

<!-- Welcome Section ___________________________ -->

<div class="welcome-section-two">
    <div class="container">
        <div class="section-title wow fadeInUp">

            <h5 style="font-weight:bold;font-size:large">awesome success with our Clients</h5>
            <p>
                Heart Beat Services (HBS) is a New York based company serving Customers in multiple market segments. HBS focuses on providing integrated core administration solutions, care and network management solutions, and a wide range of constituent Web solutions. We specialize in custom software development and offer a wide range of services including but not limited to consulting, hosting, testing, business and professional services.
                HBS Vision
                At HBS it is our goal to provide premier information technology solutions that enable our Clients to add real economic value to their business by providing Integrated Cost effective business solutions. We work with our clients to understand their business challenges, propose solutions, and support them in their most strategic endeavors. With this vision in mind, we have built and nurtured a culture centered around our most important asset – the customer. Other companies may speak about customHeart Beat Services (HBS) is a New York based company serving Customers in multiple market segments. HBS focuses on providing integrated core administration solutions, care and network management solutions, and a wide range of constituent Web solutions. We specialize in custom software development and offer a wide range of services including but not limited to consulting, hosting, testing, business and professional services.
                HBS Vision
                At HBS it is our goal to provide premier information technology solutions that enable our Clients to add real economic value to their business by providing Integrated Cost effective business solutions. We work with our clients to understand their business challenges, propose solutions, and support them in their most strategic endeavors. With this vision in mind, we have built and nurtured a culture centered around our most important asset – the customer. Other companies may speak about customer care, but we live it.
                HBS Value Based Proposition is a true technology solutions and integration partner.er care, but we live it.
                HBS Value Based Proposition is a true technology solutions and integration partner.

            </p>
        </div> <!-- /.section-title -->

        <div class="section-title wow fadeInUp">
            <br /> <br /> <br />
            <p style="background-color:mintcream;font-family: 'Open Sans', sans-serif; font-weight: 400; color: #6f6f6f; font-size: 14px;">
                We work closely with our clients to understand their unique goals, needs and challenges, and then design and deploy innovative and cost-effective solutions that help them improve all aspects of their business. We specialize in providing services that include Custom Application Solutions, Database Solutions, Web Site Development and Web Site &amp; Email Hosting. We cater to businesses of all needs and sizes and have an exceptional reputation for doing whatever it takes to make our clients thrive. Following are the key principles we abide by:

            </p>
        </div> <!-- /.section-title -->

        <div class="section-title wow fadeInUp">
            <br /> <br />
            <p>
                Comprehensive Solutions. Many vendors can only supply one facet of your technology requirements. As your trusted partner, HBS can provide both breadth (Application Services, IT Services and Managed Services) of offerings and depth of expertise to deliver real business value.
                Culture of Execution. To each engagement, HBS brings four core principles of its culture: Superior Customer Care, Complex Problem Solving, Hard Work, and Honesty. These principles drive a culture of execution that leads to success with each of our clients.
                Consultative Approach. We are not looking to sell something and walk away. We take pride in understanding your business challenges and driving to the right technology solution to meet your needs.
                Fair Price. We provide affordable technology solutions that reduce cost and drive efficiency gains.
                Superior Customer Experience. Customer success is our highest priority.
            </p>
        </div> <!-- /.section-title -->



        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <h3>SMALL BUSSINES</h3>
                <p>If your small or medium sized business needs a website, we can help. If you are in need of more than just web design, we have solutions for you. </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <h3>HOW TO COMPETE </h3>
                <p>Creating a technology platform that helps your business thrive in a disruptive marketplace takes experience and an understanding of how IT systems interact with each other—and the people who use them. </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
                <i class="fa fa-diamond" aria-hidden="true"></i>
                <h3>KEY TO SUCCESS</h3>
                <p>
                    If you provide better service for your customers, they'll be more inclined to come to you the next time they need something instead of going to your competition.
                </p>
            </div>

            

        </div>

        <br />
        <br />
        <br />
        <br />
    </div> <!-- /.container -->
</div> <!-- /.welcome-section -->
