
@{
    ViewBag.Title = "HeartBeat Services";
    Layout = "~/Views/Shared/i1.cshtml";
}

<!-- Inner Page Main Banner __________________ -->
<div class="contact_banner">
    <div class="opacity">
        <div class="container">
            
        </div> <!-- /.container -->
    </div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->
<!-- Page Breadcrum __________________________ -->
<div class="page-breadcrum">
    <div class="container">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>-</li>
            <li>Contact us</li>
        </ul>
    </div> <!-- /.container -->
</div> <!-- /.page-breadcrum -->
<!-- Contact Us Form _____________________ -->
<div class="contact-us-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 wow fadeInLeft">
                <div class="contact-us-form">
                    <h3>Send A Message</h3>
                    <p>Your email address will not be published.</p>
                    <form action="inc/sendemail.php" class="form-validation" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input name="name" type="text" placeholder="Username" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input name="email" type="email" placeholder="Email" required>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input name="sub" type="text" placeholder="Subject" required>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea name="message" placeholder="Write Message"></textarea>
                                <button class="tran3s p-color-bg themehover" title="Send">send message</button>
                            </div>
                        </div>
                    </form>

                    <!-- Contact alert -->
                    <div class="alert_wrapper" id="alert_success">
                        <div id="success">
                            <button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <div class="wrapper">
                                <p>Your message was sent successfully.</p>
                            </div>
                        </div>
                    </div> <!-- End of .alert_wrapper -->
                    <div class="alert_wrapper" id="alert_error">
                        <div id="error">
                            <button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <div class="wrapper">
                                <p>Sorry!Something Went Wrong.</p>
                            </div>
                        </div>
                    </div> <!-- End of .alert_wrapper -->
                </div> <!-- /.contact-us-form -->
            </div> <!-- /.col- -->

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 wow fadeInRight">
                <div class="contactUs-address">
                    <h3>CONTACT US</h3>
                    <p>Welcome to our website , Feel free to contact us any time </p>

                    <ul>
                        <li>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <a href="mailto:helpneed@edutech.com" class="tran3s">umais@heartbeat-biz.com</a>
                        </li>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a href="tel:+8801712570051" class="tran3s">+9177546930</a>
                        </li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>Office 16215 highland avenue, suit 7R NY 11432</li>
                    </ul>

                </div> <!-- /.our-address -->
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.contact-us-page -->

<!-- Google Map -->
<div id="google-map" style="height:460px; width:100%; margin-top:100px;"></div>

<br />
<br />




