
@{
    ViewBag.Title = "HeartBeat Services";
    Layout = "~/Views/Shared/i1.cshtml";
}

<div class="main-page-wrapper">
    <!-- Inner Page Main Banner __________________ -->


    <div class="inner-page-banner">
        <div class="opacity">
            <div class="container">
                <h2> <span style="color:#ffa333;font-weight:bold">PORTFOLIO </span> DETAIL</h2>
            </div> <!-- /.container -->
        </div> <!-- /.opacity -->
    </div>
    <!-- /.inner-page-banner -->
    <!-- Page Breadcrum __________________________ -->
    <div class="page-breadcrum">
        <div class="container">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>-</li>
                <li>PortFolio Details</li>
            </ul>
        </div> <!-- /.container -->
    </div> <!-- /.page-breadcrum -->
    <!-- Course Section _______________________ -->
    <div class="course-details-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="course-details-content clear-fix">
                        <div class="img">
                            <img src="@Url.Content("~/Content/HB/")images/inner-page/12.jpg" alt="Image">
                           
                        </div>
                        <h3>PrescienceRxTM Aligncare service LLC</h3>

                        <ul class="post-info">
                            <li><i class="fa fa-users" aria-hidden="true"></i> 345</li>
                            <li><i class="fa fa-comment" aria-hidden="true"></i> 5</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> New York, NY 10128</li>
                            <li><i class="fa fa-tags" aria-hidden="true"></i> Text and Economic</li>
                        </ul>

                        <div class="sub-text">
                            <h4>Aligncare Services</h4>
                            <p>
                                PrescienceRxTM was developed in association with a leading academic institution. It is a “big data” platform that goes well beyond identifying high risk cases. PrescienceRxTM highlights patients with newly emerging conditions, patients with unstable conditions who are moving from lower to higher level of risk — crucial information for effective interventions and provider coordination. Most important, it identifies what factors drive the risk, and which providers have the most influence over a patient’s therapeutic experience.
                                <br><br>
                                Imagine a solution that stratifies your population and not only identifies patients’ co-morbidities but also tells you how they are being treated and by whom.
                            </p>
                        </div> <!-- /.sub-text -->
                        <div class="sub-text">
                            <h4>LEARNING Help</h4>
                            <p>PrescienceRxTM is strategic support for early problem identification and care management. It provides the information you need, when you need it. </p>
                            <ul class="event-output-list">
                                <li><i class="fa fa-graduation-cap" aria-hidden="true"></i> We are a group of experienced healthcare executives. </li>
                                <li><i class="fa fa-graduation-cap" aria-hidden="true"></i> who understand the challenges of medical management.</li>
                                <li><i class="fa fa-graduation-cap" aria-hidden="true"></i> Collectively, we represent many decades of engagement </li>
                                <li><i class="fa fa-graduation-cap" aria-hidden="true"></i> with clients developing software solutions that assist us </li>
                                <li><i class="fa fa-graduation-cap" aria-hidden="true"></i> support provider relationships, and operate efficiently. </li>
                            </ul>
                        </div> <!-- /.sub-text -->
                        <div class="sub-text">
                            <h4>
                                Improve your Part D Star Measures & More
                            </h4>
                            <ul class="st-requirements-list clear-fix">
                                <li><i class="fa fa-check-square" aria-hidden="true"></i> D09  High Risk Medication </li>
                                <li><i class="fa fa-check-square" aria-hidden="true"></i> D10  Diabetes Treatment</li>
                                <li><i class="fa fa-check-square" aria-hidden="true"></i> D11  Adherence for Diabetes Medications</li>
                                <li><i class="fa fa-check-square" aria-hidden="true"></i> D12  Medication Adherence for Hypertension (RAS)</li>
                                <li><i class="fa fa-check-square" aria-hidden="true"></i> D13 Medication Adherence for Cholesterol (Statins)</li>
                                <li><i class="fa fa-check-square" aria-hidden="true"></i> Don’t wait until it is too late to impact your Part D STAR ratings.</li>
                            </ul>
                        </div> <!-- /.sub-text -->
                       
                    </div> <!-- /.course-details-content -->
                </div> <!-- /.col- -->
                
               
            </div>
        </div>
    </div>




    

</div>







